@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS */

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  color: white;
  font-family: 'Lato', sans-serif;
}

body {
  background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(../img/img5.jpg);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 7vh;
  background: rgba(22, 22, 22, 0.2);
}

header .container {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.logo span {
  font-weight: 900;
}

.menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  position: relative;
}

.menu a:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 1px;
  background-color: rgb(251, 255, 0);
  transition: all 400ms ease;
}

.menu a:hover:before {
  width: 100%;
}

main {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main h1 {
  width: 850px;
  font-size: 5rem;
  text-align: center;
}

main h2 {
  font-size: 2rem;
  color: rgb(165, 165, 165);
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-container button {
  width: 250px;
  height: 60px;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.2rem;
  position: relative;
}

.btn-container button:before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  border-radius: 1rem;
  height: 60px;
  background-color: rgb(61, 61, 61);
  z-index: -1;
  transition: all 400ms ease;
}

.btn-container button:hover::before {
  width: 100%;
}
